<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Standard Meta -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/semantic.js' %}"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }
  </style>
  <script>
    // $(document)
    //   .ready(function () {
    //     $('.ui.form')
    //       .form({
    //         fields: {
    //           email: {
    //             identifier: 'email',
    //             rules: [
    //               {
    //                 type: 'empty',
    //                 prompt: 'Please enter your e-mail'
    //               },
    //               {
    //                 type: 'email',
    //                 prompt: 'Please enter a valid e-mail'
    //               }
    //             ]
    //           },
    //           password: {
    //             identifier: 'password',
    //             rules: [
    //               {
    //                 type: 'empty',
    //                 prompt: 'Please enter your password'
    //               },
    //               {
    //                 type: 'length[6]',
    //                 prompt: 'Your password must be at least 6 characters'
    //               }
    //             ]
    //           }
    //         }
    //       })
    //       ;
    //   })
    //   ;
  </script>
</head>

<body>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui image header">
        <div class="content">
          Resigter
        </div>
      </h2>
      <form id="form" action="{% url 'lab:register' %}" method="POST" class="ui large form">
        {% csrf_token %}
        <div class="ui stacked secondary  segment">
          <div class="field">
            {{ form.username.errors}}
            <div class="ui left icon input">
              <!-- <input type="text" name="email" placeholder="E-mail address"> -->
              {{ form.username }}
            </div>
          </div>
          <div class="field">
            {{ form.password.errors }}
            <div class="ui left icon input">
              <!-- <input type="password" name="password" placeholder="Password"> -->
              {{ form.password }}
            </div>
          </div>
          <div id="submit-btn" class="ui fluid large teal submit button"style="background: #e96ba2">Submit</div>
        </div>

        <div class="ui error message"></div>

      </form>

      <div class="ui message">
        Welcome!
      </div>
    </div>
  </div>



</body>
<script>
  $("#submit-btn").click(() => {
    $("#form").submit()
  })
</script>
</html>