<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

</body>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
  <script src="{% static 'js/axios.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/semantic.js' %}"></script>
</head>

<body>
  <div class="ui modal">
    <div class="header">Smiles</div>
    <div class="content">
      <p id="smile" style="white-space: normal; word-break: break-all;">MDSAGQDINLNSPNKGLLSDSMTDVPVDTGVAARTPAVEGLTEAEEEELRAELTKVEEEIVTLRQVLAAKERHCGELKRRLGLSTLGELKQNLSRSWHDVQVSSAYVKTSEKLGEWNEKVTQSDLYKKTQETLSQAGQKTSAALSTVGSAISRKLGDMRNSATFKSFEDRVGTIKSKVVGDRENGSDNLPSSAGSGDKPLSDPAPF</p>
    </div>
  </div>
  <header class="y-vertical-center">
    <img src="{% static 'images/logo.png' %}" class="logo" alt="">
  </header>
  <div class="tab-tit y-vertical-center">
    <a href="#" class="cur">起步</a>
    <a href="{% url 'DTItool:index' %}">综合</a>
  </div>
  <div class="con">
    <div class="search">
      <h2>SEARCH FOR：</h2>
      <select class="search-slet" name="" id="">
        <option>drug</option>
        <option>drug1</option>
        <option>drug2</option>
      </select>
      <input id="input-drug-name" type="text" class="search-ipt">
    </div>
    <h2>ADVANCED：</h2>
    <div class="item"><span class="tit">DTINet score：</span> <input type="text"> - <input type="text"></div>
    <div class="item"><span class="tit">NeoDTI score：</span> <input type="text"> - <input type="text"></div>
    <div class="item"><span class="tit">DTINet rank： </span> <input type="text"> - <input type="text"></div>
    <div class="item"><span class="tit">NeoDTI rank： </span> <input type="text"> - <input type="text"></div>
    <div id="submit-btn" class="btn">提交条件</div>
    <!-- <button></button> -->
  </div>
  <div class="form-wrap clearfix">
    <div class="btn">导出</div>
    <div id="list" class="form">
      <div class="tr">
        <div class="td">ID</div>
        <div class="td">Target Name</div>
        <div class="td">DTINet Score</div>
        <div class="td">Rankings(DTINet)</div>
        <div class="td">NeoDTI Score</div>
        <div class="td">Rankings(NeoDTI)</div>
        <div class="td">Smiles</div>
      </div>
    </div>
  </div>
</body>
<script>

  let submitBtn = document.getElementById("submit-btn")
  submitBtn.addEventListener("click", submit)
  $("body").on("click", ".td.smiles",function() {
    let smiles = $(this).attr("smiles")
    $('#smile').text(smiles)
    $('.ui.modal').modal('show')
  })

  function submit() {
    let drugName = document.getElementById("input-drug-name").value
    console.log(drugName)
    axios.get("/DTItool/search/" + drugName)
      .then(function (response) {

        if (response.data["ok"] == true) {
          response.data['content'].forEach(element => {
            formatted = format(element)
            $("#list").append(formatted)
          });
        }
        

      })
  }
  function format(scoreEntry) {
    let proteinId = scoreEntry['protein_id']
    let proteinName = scoreEntry['protein_name']
    let dtinetScore = scoreEntry['DTInet_score']
    let dtinetRanking = scoreEntry['DTInet_ranking']
    let neodtiScore = scoreEntry['NeoDTI_score']
    let neodtiRanking = scoreEntry['NeoDTI_ranking']
    let real_smiles = scoreEntry['smiles']
    let display_smiles = real_smiles.slice(0, 10)

    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${proteinId}</div>
      <div class=\"td\">${proteinName}</div>
      <div class=\"td\">${dtinetScore}</div>
      <div class=\"td\">${dtinetRanking}</div>
      <div class=\"td\">${neodtiScore}</div>
      <div class=\"td\">${neodtiRanking}</div>
      <div smiles="${real_smiles}"class=\"td smiles\" style=\"cursor: pointer;\">${display_smiles}...</div>
    `
    return start + content + end
  }
  function exhibit(content) {
    list = document.getElementById("list")
    list.append(content)
  }
</script>

</html>

</html>