<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

</body>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
  <script src="{% static 'js/axios.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/semantic.js' %}"></script>
</head>

<body>
  <div class="ui modal">
    <div class="header">Smiles</div>
    <div class="content">
      <p id="smile" style="white-space: normal; word-break: break-all;">
        MDSAGQDINLNSPNKGLLSDSMTDVPVDTGVAARTPAVEGLTEAEEEELRAELTKVEEEIVTLRQVLAAKERHCGELKRRLGLSTLGELKQNLSRSWHDVQVSSAYVKTSEKLGEWNEKVTQSDLYKKTQETLSQAGQKTSAALSTVGSAISRKLGDMRNSATFKSFEDRVGTIKSKVVGDRENGSDNLPSSAGSGDKPLSDPAPF
      </p>
    </div>
  </div>
  <header class="y-vertical-center">
    <img src="{% static 'images/logo.png' %}" class="logo" alt="">
  </header>
  <div class="tab-tit y-vertical-center">
    <a href="#" class="cur">起步</a>
    <a href="{% url 'DTItool:index' %}">综合</a>
  </div>
  <div class="con">
    <div class="search">
      <h2>SEARCH FOR：</h2>
      <select class="search-slet" name="" id="search-for" style="display: block">
        <option>drug</option>
        <option>protein</option>
      </select>
      <input id="input-drug-name" type="text" class="search-ipt" style="display: inline-block; width: 70%;">
      <div id="search-btn" class="btn" style="display: inline-block;width:20%;">搜索</div>
    </div>
    <h2>ADVANCED：</h2>
    <div class="search">
      <select class="search-slet" name="" id="condition-for" style="display: block">
        <option selected="selected" value="score">score</option>
        <option value="rank">rank</option>
      </select>
    </div>
    <div class="item score"><span class="tit">DTINet score：</span> <input id="dtinet-score-lower-limit" type="text"> -
      <input id="dtinet-score-upper-limit" type="text"></div>
    <div class="item score"><span class="tit">NeoDTI score：</span> <input id="neodti-score-lower-limit" type="text"> -
      <input id="neodti-score-upper-limit" type="text"></div>
    <div class="item rank"><span class="tit">DTINet rank： </span> <input id="dtinet-score-lower-ranking" type="text"> -
      <input id="dtinet-score-upper-ranking" type="text"></div>
    <div class="item rank"><span class="tit">NeoDTI rank： </span> <input id="neodti-score-lower-ranking" type="text"> -
      <input id="neodti-score-upper-ranking" type="text"></div>
    <div id="submit-btn" class="btn">提交条件</div>
    <!-- <button></button> -->
  </div>
  <div class="form-wrap clearfix">
    <div id="excel-btn" class="btn">导出初选表</div>
    <div id="excel-btn-dtinet" class="btn">导出DTInet表</div>
    <div id="excel-btn-neodti" class="btn">导出NeoDTI表</div>
    <div id="excel-btn-condition" class="btn">导出</div>
    <div id="excel-btn-ranking" class="btn">导出</div>
    <div id="DTInet-list" class="form">
    </div>
    <div id="NeoDTI-list" class="form">
    </div>
  </div>

  </div>
</body>
<script>
  $(".rank").hide()
  $("#excel-btn").css("visibility", "hidden")
  $("#excel-btn-dtinet").css("visibility", "hidden")
  $("#excel-btn-neodti").css("visibility", "hidden")
  $("#excel-btn-condition").css("visibility", "hidden")
  $("#excel-btn-ranking").css("visibility", "hidden")

  let submitBtn = document.getElementById("submit-btn")
  submitBtn.addEventListener("click", submit)
  let searchBtn = document.getElementById("search-btn")
  searchBtn.addEventListener("click", search)
  $("#excel-btn").click(() => {
    let drugName = document.getElementById("input-drug-name").value
    if ($("#search-for").val() == 'drug') {
      window.open("/DTItool/excel/drug/" + drugName, "_blank")
    } else {
      window.open('/DTItool/excel/protein/' + drugName, "_blank")
    }
  })
  $("#excel-btn-dtinet").click(() => {
    let drugName = document.getElementById("input-drug-name").value
    window.open("/DTItool/excel/drug/" + drugName + "/dtinet", "_blank")
  })
  $("#excel-btn-neodti").click(() => {
    let drugName = document.getElementById("input-drug-name").value
    window.open("/DTItool/excel/drug/" + drugName + "/neodti", "_blank")
  })
  $("#excel-btn-condition").click(() => {
    let drugName = document.getElementById("input-drug-name").value
    let dtinetUpperLimit = "/" + document.getElementById("dtinet-score-upper-limit").value
    let dtinetLowerLimit = "/" + document.getElementById("dtinet-score-lower-limit").value
    let neodtiUpperLimit = "/" + document.getElementById("neodti-score-upper-limit").value
    let neodtiLowerLimit = "/" + document.getElementById("neodti-score-lower-limit").value
    if ($("#search-for").val() == "drug") {
      window.open("/DTItool/excel/condition/drug/" + drugName + dtinetUpperLimit + dtinetLowerLimit + neodtiUpperLimit + neodtiLowerLimit)
    } else {
      window.open("/DTItool/excel/condition/protein/" + drugName + dtinetUpperLimit + dtinetLowerLimit + neodtiUpperLimit + neodtiLowerLimit)
    }
  })
  $("#excel-btn-ranking").click(() => {
    let drugName = document.getElementById("input-drug-name").value
    let dtinetUpperRanking = "/" + document.getElementById("dtinet-score-upper-ranking").value
    let dtinetLowerRanking = "/" + document.getElementById("dtinet-score-lower-ranking").value
    let neodtiUpperRanking = "/" + document.getElementById("neodti-score-upper-ranking").value
    let neodtiLowerRanking = "/" + document.getElementById("neodti-score-lower-ranking").value
    if ($("#search-for").val() == "drug") {
      window.open("/DTItool/excel/ranking/drug/" + drugName + dtinetUpperRanking + dtinetLowerRanking + neodtiUpperRanking + neodtiLowerRanking)
    } else {
      window.open("/DTItool/excel/ranking/protein/" + drugName + dtinetUpperRanking + dtinetLowerRanking + neodtiUpperRanking + neodtiLowerRanking)
    }
  })
  $("#condition-for").change(() => {
    if ($("#condition-for").val() == "score") {
      $(".score").show()
      $(".rank").hide()
    } else {
      $(".score").hide()
      $(".rank").show()
    }
  })
  $("body").on("click", ".td.smiles", function () {
    let smiles = $(this).attr("smiles")
    $('#smile').text(smiles)
    $('.ui.modal').modal('show')
  })

  function submit() {
    $("#excel-btn").css("visibility", "hidden")
    $("#excel-btn-dtinet").css("visibility", "hidden")
    $("#excel-btn-neodti").css("visibility", "hidden")
    $("#NeoDTI-list").html('')
    let drugName = document.getElementById("input-drug-name").value
    if ($("#condition-for").val() == "score") {
      let dtinetUpperLimit = "/" + document.getElementById("dtinet-score-upper-limit").value
      let dtinetLowerLimit = "/" + document.getElementById("dtinet-score-lower-limit").value
      let neodtiUpperLimit = "/" + document.getElementById("neodti-score-upper-limit").value
      let neodtiLowerLimit = "/" + document.getElementById("neodti-score-lower-limit").value
      if ($("#search-for").val() == "drug") {
        axios.get("/DTItool/condition/drug/" + drugName + dtinetUpperLimit + dtinetLowerLimit + neodtiUpperLimit + neodtiLowerLimit)
          .then((response) => {
            if (response.data["ok"] == true) {
              $("#excel-btn-condition").css("visibility", "visible")
              $("#excel-btn-ranking").css("visibility", "hidden")
              $("#DTInet-list").html(`
              <h1 id="list-title" style="display: block;">${drugName}</h1></br>
              <div class="tr">
                <div class="td">ID</div>
                <div class="td">Target Name</div>
                <div class="td">DTINet Score</div>
                <div class="td">NeoDTI Score</div>
              </div>`
              )
            }
            response.data['content'].forEach(element => {
              formatted = formatCondition(element)
              $("#DTInet-list").append(formatted)
            })
          })
      } else {
        axios.get("/DTItool/condition/protein/" + drugName + dtinetUpperLimit + dtinetLowerLimit + neodtiUpperLimit + neodtiLowerLimit)
          .then((response) => {
            if (response.data["ok"] == true) {
              $("#excel-btn").css("visibility", "hidden")
              $("#excel-btn-condition").css("visibility", "visible")
              $("#excel-btn-dtinet").css("visibility", "hidden")
              $("#excel-btn-neodti").css("visibility", "hidden")
              $("#DTInet-list").html(`
              <h1 id="list-title" style="display: block;">${drugName}</h1></br>
              <div class="tr">
                <div class="td">ID</div>
                <div class="td">Drug Name</div>
                <div class="td">DTINet Score</div>
                <div class="td">NeoDTI Score</div>
                <div class="td">Label</div>
                <div class="td">Smiles</div>
              </div>
            `)
              $("#NeoDTI-list").html('')
              response.data['content'].forEach(element => {
                formatted = formatForConditionDrugs(element)
                $("#DTInet-list").append(formatted)
              });
            }
          })
      }
    }

    if ($("#condition-for").val() == "rank") {
      let dtinetUpperRanking = "/" + document.getElementById("dtinet-score-upper-ranking").value
      let dtinetLowerRanking = "/" + document.getElementById("dtinet-score-lower-ranking").value
      let neodtiUpperRanking = "/" + document.getElementById("neodti-score-upper-ranking").value
      let neodtiLowerRanking = "/" + document.getElementById("neodti-score-lower-ranking").value
      
      if ($("#search-for").val() == "drug") {
        axios.get("/DTItool/ranking/drug/" + drugName + dtinetUpperRanking + dtinetLowerRanking + neodtiUpperRanking + neodtiLowerRanking)
        .then((response) => {
          if (response.data["ok"] == true) {
            $("#excel-btn-condition").css("visibility", "hidden")
            $("#excel-btn-ranking").css("visibility", "visible")
            $("#DTInet-list").html(`
              <h1 id="list-title" style="display: block;">${drugName}</h1></br>
              <div class="tr">
                <div class="td">ID</div>
                <div class="td">Target Name</div>
                <div class="td">DTINet Ranking</div>
                <div class="td">NeoDTI Ranking</div>
              </div>`
            )
          }
          response.data['content'].forEach(element => {
            formatted = formatRanking(element)
            $("#DTInet-list").append(formatted)
          })
        })
      } else {
        axios.get("/DTItool/ranking/protein/" + drugName + dtinetUpperRanking + dtinetLowerRanking + neodtiUpperRanking + neodtiLowerRanking)
        .then((response) => {
          if (response.data["ok"] == true) {
            $("#excel-btn-condition").css("visibility", "hidden")
            $("#excel-btn-ranking").css("visibility", "visible")
            $("#DTInet-list").html(`
              <h1 id="list-title" style="display: block;">${drugName}</h1></br>
              <div class="tr">
                <div class="td">ID</div>
                <div class="td">Drug Name</div>
                <div class="td">Rankings(DTINet)</div>
                <div class="td">Rankings(NeoDTI)</div>
                <div class="td">Label</div>
                <div class="td">Smiles</div>
              </div>
            `)
            $("#NeoDTI-list").html('')
          }
          response.data['content'].forEach(element => {
            formatted = formatForRankingDrugs(element)
            $("#DTInet-list").append(formatted)
          })
        })
      }

    }
  }

  function search() {
    $("#excel-btn-condition").css("visibility", "hidden")
    $("#excel-btn-ranking").css("visibility", "hidden")
    let drugName = document.getElementById("input-drug-name").value
    console.log($("#search-for").val())
    if ($("#search-for").val() == "drug") {
      axios.get("/DTItool/search/drug/" + drugName)
        .then(function (response) {
          if (response.data["ok"] == true) {
            $("#excel-btn").css("visibility", "visible")
            $("#excel-btn-dtinet").css("visibility", "visible")
            $("#excel-btn-neodti").css("visibility", "visible")
            $("#list-title").text($("#input-drug-name").val())
            // $("#DTInet-list").append(`
            //   <h1 id="list-title" style="display: block;">google</h1>
            // `)
            $("#DTInet-list").html(`      
              <h1 id="list-title" style="display: block;">${drugName}</h1></br>
              <div class="tr">
                <div class="td">ID</div>
                <div class="td">Target Name</div>
                <div class="td">DTINet Score</div>
                <div class="td">Rankings(DTINet)</div>
                <div class="td">Label</div>
                <div class="td">Sequence</div>
              </div>
            `)
            $("#NeoDTI-list").html(`
              <div class="tr">
                <div class="td">ID</div>
                <div class="td">Target Name</div>
                <div class="td">NeoDTI Score</div>
                <div class="td">Rankings(NeoDTI)</div>
                <div class="td">Label</div>
                <div class="td">Sequence</div>
              </div>
            `)
            response.data['content']['DTInet'].forEach(element => {
              formatted = formatDTInet(element)
              $("#DTInet-list").append(formatted)
            });
            response.data['content']['NeoDTI'].forEach(element => {
              formatted = formatNeoDTI(element)
              $('#NeoDTI-list').append(formatted)
            })
          }
        })
    } else {
      let proteinName = document.getElementById("input-drug-name").value
      axios.get("/DTItool/search/protein/" + proteinName)
        .then(function (response) {
          if (response.data["ok"] == true) {
            $("#excel-btn").css("visibility", "visible")
            $("#excel-btn-dtinet").css("visibility", "hidden")
            $("#excel-btn-neodti").css("visibility", "hidden")
            $("#DTInet-list").html(`
              <h1 id="list-title" style="display: block;">${proteinName}</h1></br>
              <div class="tr">
                <div class="td">ID</div>
                <div class="td">Drug Name</div>
                <div class="td">DTINet Score</div>
                <div class="td">Rankings(DTINet)</div>
                <div class="td">NeoDTI Score</div>
                <div class="td">Rankings(NeoDTI)</div>
                <div class="td">Label</div>
                <div class="td">Smiles</div>
              </div>
            `)
            $("#NeoDTI-list").html('')
            response.data['content'].forEach(element => {
              formatted = formatForDrugs(element)
              $("#DTInet-list").append(formatted)
            });
          }
        })
    }
  }

  function formatForDrugs(scoreEntry) {
    let drugId = scoreEntry['drug_id']
    if (drugId.length > 10) {
      drugId = drugId.slice(0, 10) + "  "
    }
    let drugName = scoreEntry['drug_name']
    let dtinetScore = scoreEntry['DTInet_score']
    let dtinetRanking = scoreEntry['DTInet_ranking']
    let neodtiScore = scoreEntry['NeoDTI_score']
    let neodtiRanking = scoreEntry['NeoDTI_ranking']
    let label = scoreEntry['label']
    let real_smiles = scoreEntry['sequence']
    let display_smiles = real_smiles.slice(0, 10)


    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${drugId}</div>
      <div class=\"td\">${drugName}</div>
      <div class=\"td\">${dtinetScore}</div>
      <div class=\"td\">${dtinetRanking}</div>
      <div class=\"td\">${neodtiScore}</div>
      <div class=\"td\">${neodtiRanking}</div>
      <div class=\"td\">${label}</div>
      <div smiles="${real_smiles}"class=\"td smiles\" style=\"cursor: pointer;\">${display_smiles}...</div>
    `
    return start + content + end
  }

  function formatForConditionDrugs(scoreEntry){
    let drugId = scoreEntry['drug_id']
    if (drugId.length > 10) {
      drugId = drugId.slice(0, 10) + "  "
    }
    let drugName = scoreEntry['drug_name']
    let dtinetScore = scoreEntry['DTInet_score']
    let dtinetRanking = scoreEntry['DTInet_ranking']
    let neodtiScore = scoreEntry['NeoDTI_score']
    let neodtiRanking = scoreEntry['NeoDTI_ranking']
    let label = scoreEntry['label']
    let real_smiles = scoreEntry['sequence']
    let display_smiles = real_smiles.slice(0, 10)


    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${drugId}</div>
      <div class=\"td\">${drugName}</div>
      <div class=\"td\">${dtinetScore}</div>
      <div class=\"td\">${neodtiScore}</div>
      <div class=\"td\">${label}</div>
      <div smiles="${real_smiles}"class=\"td smiles\" style=\"cursor: pointer;\">${display_smiles}...</div>
    `
    return start + content + end
  }

  function formatForRankingDrugs(scoreEntry){
    let drugId = scoreEntry['drug_id']
    if (drugId.length > 10) {
      drugId = drugId.slice(0, 10) + "  "
    }
    let drugName = scoreEntry['drug_name']
    let dtinetScore = scoreEntry['DTInet_score']
    let dtinetRanking = scoreEntry['DTInet_ranking']
    let neodtiScore = scoreEntry['NeoDTI_score']
    let neodtiRanking = scoreEntry['NeoDTI_ranking']
    let label = scoreEntry['label']
    let real_smiles = scoreEntry['sequence']
    let display_smiles = real_smiles.slice(0, 10)


    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${drugId}</div>
      <div class=\"td\">${drugName}</div>
      <div class=\"td\">${dtinetRanking}</div>
      <div class=\"td\">${neodtiRanking}</div>
      <div class=\"td\">${label}</div>
      <div smiles="${real_smiles}"class=\"td smiles\" style=\"cursor: pointer;\">${display_smiles}...</div>
    `
    return start + content + end
  }

  function formatDTInet(scoreEntry) {
    let proteinId = scoreEntry['protein_id']
    let proteinName = scoreEntry['protein_name']
    let dtinetScore = scoreEntry['DTInet_score']
    let dtinetRanking = scoreEntry['DTInet_ranking']
    let label = scoreEntry['label']
    let real_smiles = scoreEntry['smiles']
    let display_smiles = real_smiles.slice(0, 10)

    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${proteinId}</div>
      <div class=\"td\">${proteinName}</div>
      <div class=\"td\">${dtinetScore}</div>
      <div class=\"td\">${dtinetRanking}</div>
      <div class=\"td\">${label}</div>
      <div smiles="${real_smiles}"class=\"td smiles\" style=\"cursor: pointer;\">${display_smiles}...</div>
    `
    return start + content + end
  }

  function formatNeoDTI(scoreEntry) {
    let proteinId = scoreEntry['protein_id']
    let proteinName = scoreEntry['protein_name']
    // let dtinetScore = scoreEntry['DTInet_score']
    // let dtinetRanking = scoreEntry['DTInet_ranking']
    let neodtiScore = scoreEntry['NeoDTI_score']
    let neodtiRanking = scoreEntry['NeoDTI_ranking']
    let label = scoreEntry['label']
    let real_smiles = scoreEntry['smiles']
    let display_smiles = real_smiles.slice(0, 10)

    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${proteinId}</div>
      <div class=\"td\">${proteinName}</div>
      <div class=\"td\">${neodtiScore}</div>
      <div class=\"td\">${neodtiRanking}</div>
      <div class=\"td\">${label}</div>
      <div smiles="${real_smiles}"class=\"td smiles\" style=\"cursor: pointer;\">${display_smiles}...</div>
    `
    return start + content + end
  }

  function formatCondition(scoreEntry) {
    let proteinId = scoreEntry['protein_id']
    let proteinName = scoreEntry['protein_name']
    let dtinetScore = scoreEntry['DTInet_score']
    let neodtiScore = scoreEntry['NeoDTI_score']

    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${proteinId}</div>
      <div class=\"td\">${proteinName}</div>
      <div class=\"td\">${dtinetScore}</div>
      <div class=\"td\">${neodtiScore}</div>
    `
    return start + content + end
  }

  function formatRanking(scoreEntry) {
    let proteinId = scoreEntry['protein_id']
    let proteinName = scoreEntry['protein_name']
    let dtinetRanking = scoreEntry['DTInet_ranking']
    let neodtiRanking = scoreEntry['NeoDTI_ranking']

    let start = "<div class=\"tr\">"
    let end = "</div>"
    let content = `
      <div class=\"td\">${proteinId}</div>
      <div class=\"td\">${proteinName}</div>
      <div class=\"td\">${dtinetRanking}</div>
      <div class=\"td\">${neodtiRanking}</div>
    `
    return start + content + end
  }
</script>

</html>

</html>