{% load static %}
<div class="ui raised very padded text segment">
  <h2 class="ui header">Compound summary</h2>
  <div class="ui grid">
    <div class="four wide column">ID:</div>
    <div class="four wide column">1</div>
    <div class="four wide column">Categories:</div>
    <div class="four wide column">...</div>
    <div class="four wide column">CTD definition:</div>
    <div class="four wide column">...</div>
    <div class="four wide column">Link to CTD:</div>
    <div class="four wide column">...</div>
    <div class="four wide column">Known target:</div>
    <div class="four wide column">target A</div>
  </div>
  <div class="ui section divider"></div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>TARGET NAME</th>
        <th>ACTIONS</th>
        <th>LINK TO UNIPROT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="target">...</td>
        <td data-label="categories">...</td>
        <td data-label="protein name">...</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui raised very padded text segment">
  <div id="chart" style="height: 500px;width: 100%;"></div>
</div>

<div class="ui raised very padded text segment">
  <h2 class="ui header">
    Corresponding genes details
    <span style="float:right;">
      <div class="ui search">
        <div class="ui icon input float-searchbar">
          <input class="prompt" type="text" placeholder="Search gene...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </span>
  </h2>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>GENE NAME</th>
        <th>SCORE</th>
        <th>SUPPORTED ENTRIES</th>
      </tr>
    </thead>
    <tbody class="table-gene">
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
            width: 400px;
            height: 300px;
            border-radius: 0;
            background-color:#494e76;'>
            <div class='ui header' style='background-color: #494e76'>Support Entries</div>
            <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
            </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
              width: 400px;
              height: 300px;
              border-radius: 0;
              background-color:#494e76;'>
              <div class='ui header' style='background-color: #494e76'>Support Entries</div>
              <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
              </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                width: 400px;
                height: 300px;
                border-radius: 0;
                background-color:#494e76;'>
                <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                  width: 400px;
                  height: 300px;
                  border-radius: 0;
                  background-color:#494e76;'>
                  <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                  <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                  </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                    width: 400px;
                    height: 300px;
                    border-radius: 0;
                    background-color:#494e76;'>
                    <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                    <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                    </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                      width: 400px;
                      height: 300px;
                      border-radius: 0;
                      background-color:#494e76;'>
                      <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                      <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                      </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                        width: 400px;
                        height: 300px;
                        border-radius: 0;
                        background-color:#494e76;'>
                        <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                        <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                        </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                          width: 400px;
                          height: 300px;
                          border-radius: 0;
                          background-color:#494e76;'>
                          <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                          <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                          </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                            width: 400px;
                            height: 300px;
                            border-radius: 0;
                            background-color:#494e76;'>
                            <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                            <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                            </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                              width: 400px;
                              height: 300px;
                              border-radius: 0;
                              background-color:#494e76;'>
                              <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                              <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                              </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                width: 400px;
                                height: 300px;
                                border-radius: 0;
                                background-color:#494e76;'>
                                <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                  width: 400px;
                                  height: 300px;
                                  border-radius: 0;
                                  background-color:#494e76;'>
                                  <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                  <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                  </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                    width: 400px;
                                    height: 300px;
                                    border-radius: 0;
                                    background-color:#494e76;'>
                                    <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                    <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                    </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                      width: 400px;
                                      height: 300px;
                                      border-radius: 0;
                                      background-color:#494e76;'>
                                      <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                      <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                      </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                        width: 400px;
                                        height: 300px;
                                        border-radius: 0;
                                        background-color:#494e76;'>
                                        <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                        <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                        </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                          width: 400px;
                                          height: 300px;
                                          border-radius: 0;
                                          background-color:#494e76;'>
                                          <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                          <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                          </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                            width: 400px;
                                            height: 300px;
                                            border-radius: 0;
                                            background-color:#494e76;'>
                                            <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                            <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                            </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                              width: 400px;
                                              height: 300px;
                                              border-radius: 0;
                                              background-color:#494e76;'>
                                              <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                              <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                              </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                                width: 400px;
                                                height: 300px;
                                                border-radius: 0;
                                                background-color:#494e76;'>
                                                <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                                <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                                </div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
                                                  width: 400px;
                                                  height: 300px;
                                                  border-radius: 0;
                                                  background-color:#494e76;'>
                                                  <div class='ui header' style='background-color: #494e76'>Support Entries</div>
                                                  <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
                                                  </div>">...</td>
      </tr>
    </tbody>
  </table>
</div>


<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
<script>
  $('.table-gene .entries').popup({
    on: 'hover'
  });
  score_chart("chart");
  $(window).on('scroll', function () {
    if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
      $('.table-gene').append(
        `
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html=
          "<div class='ui segment' style='
          width: 400px;
          height: 300px;
          border-radius: 0;
          background-color:#494e76;'>
          <div class='ui header' style='background-color: #494e76'>Support Entries</div>
          <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
          </div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html=
          "<div class='ui segment' style='
          width: 400px;
          height: 300px;
          border-radius: 0;
          background-color:#494e76;'>
          <div class='ui header' style='background-color: #494e76'>Support Entries</div>
          <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
          </div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html=
          "<div class='ui segment' style='
          width: 400px;
          height: 300px;
          border-radius: 0;
          background-color:#494e76;'>
          <div class='ui header' style='background-color: #494e76'>Support Entries</div>
          <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
          </div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html=
          "<div class='ui segment' style='
          width: 400px;
          height: 300px;
          border-radius: 0;
          background-color:#494e76;'>
          <div class='ui header' style='background-color: #494e76'>Support Entries</div>
          <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
          </div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html=
          "<div class='ui segment' style='
          width: 400px;
          height: 300px;
          border-radius: 0;
          background-color:#494e76;'>
          <div class='ui header' style='background-color: #494e76'>Support Entries</div>
          <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'><p>shitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshitshit</p><p>123</p></div>
          </div>">...</td>
        </tr>
        `
      );
      $('.entries').popup({
        on: 'hover'
      });
    }
  });

</script>
<style>

</style>