<div class="ui segment">
    <div class="ui header">SEARCH FOR THE COMPOUND YOU ARE LOOKING FOR:</div>
    <div class="ui grid">
        <div class="four wide column">
            <select class="ui dropdown">
                <option value="">Categories</option>
                <option value="1">type a</option>
                <option value="0">type b</option>
            </select>
        </div>

        <div class="four wide column"></div>
        <div class="four wide column"></div>

        <div class="four wide column">
            <div class="ui icon input ">
                <input type="text" placeholder="Search compound...">
                <i class="circular search link icon"></i>
            </div>
        </div>

    </div>
</div>


<table class="ui celled table">
    <thead>
        <tr>
            <th>NAME</th>
            <th>CATEGORIES</th>
            <th>对应记录条数</th>
            <th>化合物简介</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="name"><a href="{% url 'lab:compound-detail' compound_name %}">rivaroxaban</a></td>
            <td data-label="categories">xxx</td>
            <td data-label="对应记录条数">....</td>
            <td data-label="化合物简介">...</td>
        </tr>
    </tbody>
</table>

<script>
    $('.ui.dropdown')
        .dropdown();
</script>