<div class="ui segment padded">
    <h2 class="ui header center">SEARCH FOR THE COMPOUND YOU ARE LOOKING FOR:</h2>

    <div class="ui icon input ">
        <input type="text" placeholder="Search compound...">
        <i class="circular search link icon"></i>
    </div>
    <div class="ui segment">
        <a class="ui tag label">New</a>
        <a class="ui tag label">Upcoming</a>
        <a class="ui tag label">Featured</a>
    </div>
</div>

<div class="ui raised very padded text segment">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>NAME</th>
                <th>CATEGORIES</th>
                <th>ASSOCIATE GENE NUMBER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="NAME"><a href="{% url 'lab:compound-detail' compound_name %}">rivaroxaban</a></td>
                <td data-label="CATEGORIES">xxx</td>
                <td data-label="ASSOCIATE GENE NUMBER">12</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $('.ui.dropdown')
        .dropdown();
</script>