{% load static %}
<div class="ui raised very padded text segment">
  <h2 class="ui header">{{ compound.drug_name }}</h2>
  <div class="ui grid">
    <div class="four wide column">ID:</div>
    <div id="compound-id" class="twelve wide column">{{ compound.drugbank_id }}</div>
    <div class="four wide column">Link to CTD:</div>
    <div class="twelve wide column">{{ compound.link_to_CTD }}</div>
    <div class="four wide column">Categories:</div>
    <div class="twelve wide column">
      {% for category in compound.categories %}
        {% if forloop.last %}
          {{ category }} {# the last one should not be followed by a comma #}
        {% else %}
          {{ category }},
        {% endif %}
      {% endfor %}
    </div>
    <div class="four wide column">Link to drugbank:</div>
    <div class="twelve wide column"><a target="_blank" href="http://www.drugbank.ca/drugs/{{ compound.drugbank_id }}">www.drugbank.ca/drugs/{{ compound.drugbank_id }}</a></div>
    <div class="four wide column">Indication:</div>
    <div class="twelve wide column">{{ compound.indication }}</div>
  </div>
</div>

<div class="ui raised very padded text segment">
  <div class="ui fitted toggle checkbox">
    <input type="checkbox">
    <label></label>
  </div>
  DTI/DDI info
  <h2 class="ui header">
    Known Targets
  </h2>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>TARGETS NAME</th>
      <th>LINK TO UNIPROT</th>
    </tr>
    </thead>
    <tbody id="known-targets-tbody">
        {% for target in compound.targets %}
      <tr>
        <td data-label="COMPOUND NAME">{{ target.target_name }}</td>
        <td data-label="LINK TO DRUGBANK"><a target="_blank" href="https://www.uniprot.org/uniprot/?query=gene%3A{{ target.target_name }}">www.uniprot.org/uniprot/?query=gene%3A{{ target.target_name }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="ui raised very padded text segment">
  <div id="chart-container" style="height: 500px;width: 100%;"></div>
</div>

<div class="ui raised very padded text segment">
  <h2 class="ui header">
    Associated targets
  </h2>

  <table class="ui celled table">
    <thead>
    <tr>
      <th>GENE NAME</th>
      <th>SCORE</th>
      <th>SUPPORTED ENTRIES</th>
    </tr>
    </thead>
    <tbody id="gene-tbody">
    </tbody>
  </table>
{#  <div class="ui center aligned grid">#}
{#    <div class="sixteen wide column"><a id="click-for-more">CLICK FOR MORE<p><i class="angle double down icon"></i></p>#}
{#    </a></div>#}
{#  </div>#}
</div>

<div id="supporting-entries-modal" class="ui modal">
  <div class="header">Supporting entries</div>
  <div class="content">
    <p>okeydokey</p>
    <p>pmid</p>
    <p>test</p>
  </div>
</div>


<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
<script src="https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.js"></script>

<script>
  $(document).ready(function () {

    $('.ui.checkbox').checkbox('set checked');
    $('.ui.checkbox').checkbox('set unchecked');

    {#axios.get('/get_known_targets/' + $('#compound-id').text())#}
    {#    .then(function (response) {#}
    {#      let jsonObj = response.data;#}
    {#      let targets = jsonObj.targets;#}
    {#      let representation_data = '';#}
    {#      for (let i = 0; i < targets.length; i++) {#}
    {#        representation_data += `#}
    {#          <tr>#}
    {#          <td data-label="COMPOUND NAME">${targets[i].target_name}</td>#}
    {#          <td data-label="LINK TO UNIPROT">{{ compound.uniprot_ids.0 }}</td>#}
    {#          </tr>#}
    {#        `#}
    {#        $('#known-targets-tbody').html(representation_data);#}
    {#      }#}
    {#    })#}
    {#    .catch(function (error) {#}
    {#      log(error)#}
    {#    });#}

    axios.get('/get_score_frequency/' + $('#compound-id').text())
        .then(function (response) {
          let scores_frequency = response.data;
          let scores = Object.keys(scores_frequency);
          let x_data = scores;
          let y_data = [];

          for (let i = 0; i < scores.length; i++) {
            y_data.push(scores_frequency[scores[i]])
          }
          score_chart('chart-container', 'DTI Score Distribution', x_data, y_data);
        })
        .catch(function (error) {
          log(error)
        });

    axios.get('/get_associated_targets/' + $('#compound-id').text())
        .then(function (response) {
          let targets = response.data.targets
          let supportingEntriesTemplate = ''
          let template = ''
          log(targets.length);
          for (let i = 0; i < targets.length; i++) {
            template += `
                <tr>
                  <td data-label="gene name">${targets[i].target_name}</td>
                  <td data-label="score">${targets[i].predict_score}</td>
                  <td data-label="supported entries" id="${targets[i].target_id}_${targets[i].drug_id}" class="entries">${targets[i].supporting_entry.length}</td>
                </tr>
              `
          }
          $('.table:eq(1)').find('tbody').append(template);
        }).catch(function (error) {
      log(error)
    });

    $('.ui.checkbox').click(function () {
      if ($('.ui.checkbox').checkbox('is unchecked')) {
        // $('.ui.checkbox').checkbox('set checked')
        log('ddi')
        dti()
        axios.get('/get_score_frequency')
            .then(function (response) {
              let scores_frequency = response.data
              let scores = Object.keys(scores_frequency)
              let x_data = scores
              let y_data = []

              for (let i = 0; i < scores.length; i++) {
                y_data.push(scores_frequency[scores[i]])
              }
              score_chart('chart-container', 'DTI Score Distribution', x_data, y_data)
            })
            .catch(function (error) {
              log(error)
            })


      }

      if ($('.ui.checkbox').checkbox('is checked')) {
        // $('.ui.checkbox').checkbox('set unchecked')
        log('dti')
        ddi()
        axios.get('/get_score_frequency')
            .then(function (response) {
              let scores_frequency = response.data
              let scores = Object.keys(scores_frequency)
              let x_data = scores
              let y_data = []

              for (let i = 0; i < scores.length; i++) {
                y_data.push(scores_frequency[scores[i]])
              }
              score_chart('chart-container', 'DDI Score Distribution', x_data, y_data)
            })
            .catch(function (error) {
              log(error)
            })
      }
    });

    $('body').on('click', '.entries', function () {
      let ids = $(this).attr('id')
      let target_id = ids.split('_')[0]
      let drug_id = ids.split('_')[1]
      axios.get('/get_supported_entries_by_ids/' + target_id + '/' + drug_id)
          .then(function (response) {
            let supported_entries = response.data.supporting_entry
            let supportingEntriesTemplate = '';
            for (let i=0; i<supported_entries.length; i++){
              supportingEntriesTemplate += `
                      <strong>Pubmed ID:${supported_entries[i].pmid}</strong><p>${supported_entries[i].sentence}</p>
                      `
            }
            $('#supporting-entries-modal .content').html(supportingEntriesTemplate);
            $('.ui.modal').modal('show');
          }).catch(function (error) {
            log(error)
      })
    });

    function dti() {
      $('h2:eq(1)').text('Known Targets');
      axios.get('/get_known_targets/' + $('#compound-id').text())
          .then(function (response) {
            let jsonObj = response.data;
            let targets = jsonObj.targets;
            let representation_data = '';
            for (let i = 0; i < targets.length; i++) {
              representation_data += `
                <thead>
                  <tr>
                    <th>TARGETS NAME</th>
                    <th>LINK TO UNIPROT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-label="COMPOUND NAME">${targets[i].target_name}</td>
                    <td data-label="LINK TO DRUG BANK">.{{ compound.uniprot_ids.0 }}</td>
                  </tr>
                </tbody>
              `
              $('.table:eq(0)').html(representation_data);
              log('done')
            }
          })
          .catch(function (error) {
            log(error)
          });

    }

    function ddi() {
      $('h2:eq(1)').text('Known Drug-Drug Interaction')
      $('.table:eq(0)').html(
          `
        <thead>
          <tr>
            <th>ASSOCIATED DRUG</th>
            <th>INTERACTION TYPE</th>
            <th>LINK TO CTD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="ASSOCIATED DRUG">Bearinmind</td>
            <td data-label="INTERACTION TYPE">Advice</td>
            <td data-label="LINK TO CTD">...</td>
          </tr>
          <tr>
            <td data-label="ASSOCIATED DRUG">Bearinmind</td>
            <td data-label="INTERACTION TYPE">advice</td>
            <td data-label="LINK TO CTD">...</td>
          </tr>
          <tr>
            <td data-label="ASSOCIATED DRUG">...</td>
            <td data-label="INTERACTION TYPE">...</td>
            <td data-label="LINK TO CTD">...</td>
          </tr>
        </tbody>
        `
      )
    }


  })
</script>
<style>

</style>