{% load static %}
<div class="ui raised very padded text segment">
  <h2 class="ui header">Gene summary</h2>
  <p>ID, score, sequence, protein, name, function, link to uniprot, known compound/drug</p>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>compound name</th>
        <th>actions</th>
        <th>link to drug bank</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="actions">...</td>
        <td data-label="link to drug bank">...</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui raised very padded text segment">
  <div id="chart" style="height: 500px;width: 100%;"></div>
</div>

<div class="ui raised very padded text segment">
  <h2 class="ui header">
    Corresponding compounds details
    <span style="float:right;">
      <div class="ui search">
        <div class="ui icon input float-searchbar">
          <input class="prompt" type="text" placeholder="Search compound...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </span>
  </h2>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>compound name</th>
        <th>score</th>
        <th>supported entries</th>
      </tr>
    </thead>
    <tbody class="table-compound">
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
      <tr>
        <td data-label="compound name">...</td>
        <td data-label="score">...</td>
        <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
      </tr>
    </tbody>
  </table>
</div>


<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
<script>
  $('.table-compound .entries').popup({
    on: 'hover'
  });
  score_chart("chart");
  $(window).on('scroll', function () {
    if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
      $('.table-compound').append(
        `
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
        </tr>
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html="<div class='ui segment'>not decided</div>">...</td>
        </tr>
        `
      );
      $('.entries').popup({
        on: 'hover'
      });
    }
  });

</script>
<style>
  .ui.input.float-searchbar {
    font-size: 0.5em;
  }
</style>