{% load static %}
<div class="ui raised very padded text segment">
  <h2 class="ui header">{{ gene.name }}</h2>
  <div id="gene-detail" class="ui grid">
    <div class="four wide column">ID:</div>
    <div id="gene-id" class="twelve wide column">{{ gene.id }}</div>
    <div class="four wide column">Protein name:</div>
    <div class="twelve wide column">{{ gene.protein_name }}</div>
    <div class="four wide column">Category:</div>
    <div class="twelve wide column"></div>
    <div class="four wide column">Link to uniprot:</div>
    <div class="twelve wide column"><a target="_blank" href="{{ gene.link_to_uniprot }}">{{ gene.link_to_uniprot }}</a></div>
    <div class="four wide column">GO term:</div>
    <div class="twelve wide column"></div>
  </div>
</div>

<div class="ui raised very padded text segment">
  <table class="ui celled table">
    <h2 class="ui header">
      Known Compounds
    </h2>
    <thead>
    <tr>
      <th>COMPOUND NAME</th>
      <th>LINK TO DRUG BANK</th>
    </tr>
    </thead>
    <tbody>
    {% for compound in gene.compounds %}
      <tr>
        <td data-label="COMPOUND NAME">{{ compound.drug_name }}</td>
        <td data-label="LINK TO DRUGBANK"><a target="_blank" href="http://www.drugbank.ca/drugs/{{ compound.drugbank_id }}">www.drugbank.ca/drugs/{{ compound.drugbank_id }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="ui raised very padded text segment">
  <div id="chart-container" style="height: 500px;width: 100%;"></div>
</div>

<div class="ui raised very padded text segment">
  <h2 class="ui header">
    Associated Compounds
  </h2>


  <table class="ui celled table">
    <thead>
    <tr>
      <th>COMPOUND NAME</th>
      <th>SCORE</th>
      <th>SUPPORTED ENTRIES</th>
    </tr>
    </thead>
    <tbody class="table-compound">
    </tbody>
  </table>
{#  <div class="ui center aligned grid">#}
{#    <div class="sixteen wide column"><a id="click-for-more">CLICK FOR MORE<p><i class="angle double down icon"></i></p>#}
{#    </a></div>#}
{#  </div>#}
</div>
<div id="supporting-entries-modal" class="ui modal">
  <div class="header">Supporting entries</div>
  <div class="content">
    <p>okeydokey</p>
    <p>pmid</p>
    <p>test</p>
  </div>
</div>

<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
<script src="https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.js"></script>
<script>
  $(document).ready(function () {

    $('.table-compound .entries').popup({
      on: 'hover'
    });

    let scores_frequency = '';
    let scores = [];
    axios.get('/get_score_frequency/' + $('#gene-id').text())
        .then(function (response) {
          scores_frequency = response.data;
          scores = Object.keys(scores_frequency);
          let x_data = scores;
          let y_data = [];

          for (let i = 0; i < scores.length; i++) {
            y_data.push(scores_frequency[scores[i]])
          }
          score_chart('chart-container', 'Score Distribution', x_data, y_data)
        })
        .catch(function (error) {
          log(error)
        })

    axios.get('/get_associated_compounds/' + $('#gene-id').text())
        .then(function (response) {
          let compounds = response.data.compounds
          let supported_entries = 0
          let supportingEntriesTemplate = ''
          let template = ''
          for (let i = 0; i < compounds.length; i++) {
            {#log(compounds[i].drug_name + compounds[i].score + compounds[i].supported_entries.length)#}
            if (typeof (compounds[i].supporting_entry) !== 'undefined') {
              supported_entries = compounds[i].supporting_entry.length
            }
            template += `
                <tr>
                  <td data-label="COMPOUND NAME">${compounds[i].compound_name}</td>
                  <td data-label="SCORE">${compounds[i].predict_score}</td>
                  <td data-label="SUPPORTED ENTRIES" class="entries" id="${compounds[i].drug_id}">${supported_entries}</td>
                </tr>
            `
          }
          $('.table:eq(1)').find('tbody').append(template);
        }).catch(function (error) {
      log(error)
    });

    $('body').on('click', '.entries', function () {
      axios.get('/get_supported_entries_by_drug_id/' + $(this).attr('id'))
          .then(function (response) {
            let supported_entries = response.data.supporting_entry
            let supportingEntriesTemplate = '';
            for (let i=0; i<supported_entries.length; i++){
              supportingEntriesTemplate += `
                      <strong>Pubmed ID:${supported_entries[i].pmid}</strong><p>${supported_entries[i].sentence}</p>
                      `
            }
            $('#supporting-entries-modal .content').html(supportingEntriesTemplate);
            $('.ui.modal').modal('show');
          }).catch(function (error) {
            log(error)
      })
    });

    $('body').on('click', '#click-for-more', function () {
      tbody = $('.table:eq(1)').find('tbody');
      for (i = 0; i < 10; i++) {
        tbody.append(`
        <tr>
          <td data-label="compound name">...</td>
          <td data-label="score">...</td>
          <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
            width: 400px;
            height: 300px;
            border-radius: 0;
            background-color:#494e76;'>
            <div class='ui header' style='background-color: #494e76'>Support Entries</div>
            <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'>
              <div class='ui divided selection list'>
                <a class='item'>
                  Kumquats<p>Pumbed ID: 28123</p>
                </a>
                <a class='item'>
                  Ice Cream<p>Pumbed ID:28321</p>
                </a>
                <a class='item'>
                  Orange<p>Pumbed ID:28321</p>
                </a>
                <a class='item'>
                  Poodle<p>Pumbed ID:28321</p>
                </a>
              </div>
            </div>
            </div>">...</td>
        </tr>
        `)
      }
      // $('.table:eq(1)').find('tbody').append(
      //   `
      //   <tr>
      //     <td data-label="compound name">...</td>
      //     <td data-label="score">...</td>
      //     <td data-label="supported entries" class="entries" data-html="<div class='ui segment' style='
      //       width: 400px;
      //       height: 300px;
      //       border-radius: 0;
      //       background-color:#494e76;'>
      //       <div class='ui header' style='background-color: #494e76'>Support Entries</div>
      //       <div class='ui message' style='background-color: #acabbd; width: 370px; height: 235px; overflow: auto; word-wrap: break-word;'>
      //         <div class='ui divided selection list'>
      //           <a class='item'>
      //             Kumquats<p>Pumbed ID: 28123</p>
      //           </a>
      //           <a class='item'>
      //             Ice Cream<p>Pumbed ID:28321</p>
      //           </a>
      //           <a class='item'>
      //             Orange<p>Pumbed ID:28321</p>
      //           </a>
      //           <a class='item'>
      //             Poodle<p>Pumbed ID:28321</p>
      //           </a>
      //         </div>
      //       </div>
      //       </div>">...</td>
      // </tr>
      // `
      // )
    })
  })

</script>
<style>

</style>