<div class="ui raised very padded text segment">
    <div class="ui header">
        COPYRIGHT
    </div>
    <p>
        As the starting point, hit compound identification is a key step in drug discovery process.
        Traditional hit compound identification relies on high-throughput screening assays and is therefore 
        restricted by the diversity and drug-likeness of the compound library used as well as the high cost 
        of experiments. Employing advanced deep learning strategies, our technology manages to capture the 
        meaningful embedded in both compounds and proteins.
    </p>
</div>
<div class="ui raised very padded text segment">
    <div class="ui header">
        FAQ
    </div>
    <p>Q: How does AI read the literature?</p>
    <p>A: TBA</p>
    <p>Q: How can I start with this website?</p>
    <p>A: TBA</p>
</div>