<!DOCTYPE html>
<html>
{% load static %}
{% load mathfilters %}

<head>
  <meta charset="utf-8">
  <title>IIIS.ThU</title>
  <link rel="stylesheet" href="{% static "css/semantic.css" %}">
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/semantic.js" %}"></script>
  <script src="{% static "js/search.js" %}"></script>
</head>

<body>
    <div class="ui menu">
      <div class="header item">
        <a href="{% url 'lab:index' %}"><p><strong id="textdti" class="bauhs93">TextDTI </strong> POWERED BY SILEXON</p></a>
      </div>
      <div class="item">
      </div>
      <div class="right menu">
        <div class="item" id="menu">
          <a href="{% url 'lab:gene' %}">gene</a>
        </div>
        <div class="item">
          <a href="{% url 'lab:compound' %}">compound</a>
        </div>
        <div class="item">
          <a href="{% url 'lab:statistics' %}">statistics</a>
        </div>
        <div class="item">
          <a href="{% url 'lab:help' %}">help</a>
        </div>
      </div> 
    </div>
    <!-- main content -->
    <div class="ui container">
        {% include subtemplate %}
    </div>
</body>

</html>