<div class="ui segment center padded">
  <h2 class="ui header">
    ABOUT US
  </h2>
  <p>
    As the starting point, hit compound identification is a key step in drug discovery process.
    Traditional hit compound identification relies on high-throughput screening assays and is therefore
    restricted by the diversity and drug-likeness of the compound library used as well as the high cost
    of experiments. Employing advanced deep learning strategies, our technology manages to capture the
    meaningful embedded in both compounds and proteins.
  </p>
</div>
<div class="ui segment padded">
  <div class="ui equal width grid stackable center aligned internally celled">
    <div class="row">
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{ gene_sum }}
          </div>
          <div class="label">
            Total gene number
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{ compound_sum }}
          </div>
          <div class="label">
            Total compound number
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{ related_publication_sum }}
          </div>
          <div class="label">
            related publication number
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui segment padded center">
  <h2 class="ui header">
    Our best 20 scored results
  </h2>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>GENE</th>
        <th>COMPOUND</th>
        <th>SCORE</th>
        <th>SUPPORTING ENTRIES</th>
      </tr>
    </thead>
    <tbody>
    {% for foo in data %}
        <tr>
          <td data-label="gene">{{ foo.gene_name }}</td>
          <td data-label="compound">{{ foo.compound_name }}</td>
          <td data-label="score">{{ foo.score }}</td>
          <td data-label="supporting entries">{{ foo.supporting_entries_number }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>