<div class="ui message">
  <div class="header">
    Introduction
  </div>
  <p>
    The drugBank database is a unique bioinformatics and cheminformatics resource
    that conbine detailed drug data with comprehensive drug target information.
  </p>
</div>
<div class="ui segment padded center">
  <p>Our best 20 scored results</p>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>gene</th>
        <th>compound</th>
        <th>score</th>
        <th>supporting entries</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>
      <tr>
        <td data-label="gene">rivaroxaban</td>
        <td data-label="compound">prothrombinase</td>
        <td data-label="score">20</td>
        <td data-label="supporting entries">....</td>
      </tr>        
    </tbody>
  </table>
</div>