{% load static %}
<div class="ui segment padded">
  <div class="ui equal width grid stackable center aligned internally celled">
    <div class="row">
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{ gene_sum }}
          </div>
          <div class="label">
            Total gene number
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{ compound_sum }}
          </div>
          <div class="label">
            Total compound number
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{ related_publication_sum }}
          </div>
          <div class="label">
            related publication number
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui segment padded">
  <div id="chart-container" style="height: 500PX"></div>
</div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
  <script src="https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.js"></script>
<script>
  $(document).ready(function () {
    let scores_frequency = '';
    let scores = [];
    axios.get('/get_score_frequency')
        .then(function (response) {
          scores_frequency = response.data
          scores = Object.keys(scores_frequency)
          let x_data = scores
          let y_data = []

          for (let i = 0; i < scores.length; i++) {
            y_data.push(scores_frequency[scores[i]])
          }
          score_chart('chart-container', 'Score Distribution', x_data, y_data)
              .catch(function (error) {
                log(error)
              })
        })
  });

</script>